.Headers{
    font-size: 30px;
        background-color: rgb(175, 212, 240);
        color: rgb(125, 125, 236);
    }
    .interface
    {
        color: rgb(125, 125, 236);
    
    
    }
    #HCI{font-weight: 1000;}
    .numbers{ color:  rgb(175, 212, 240);}
    table {
        border-collapse: collapse;
        
      }
      .mid{padding: 180;}
      h1{
        text-transform: capitalize;
       
      }
    .submit1{
     margin: 30px;
    }
    .text1{
      margin-right: 10px;
    }
    .text2{
      margin-right:3px;
    }
    .text{
      margin-right: 2pxpx;
    }
    .gender1{
      margin-right: 3px;
    }
